<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Loader</title>
    <style>
        .data {
            border-collapse: collapse;
            width: 100%;
        }
        .data th, .data td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        .data th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Information</h1>

    <form action="/load_data" method="post" enctype="multipart/form-data">
        <label for="json_file">Choose a file:</label>
        <input type="file" id="json_file" name="json_file" accept="">
        <button type="submit">Load</button>
        <input type="button" value="Download" onclick="window.location.href='/download'">
    </form>
    <h2>Excel Data</h2>
    <div>{{ table|safe }}</div>
</body>
</html>